/* Paginação */

#pag{
    display: flex;
    justify-content: center;
    margin: 70px 0 50px 0;
}

.page-item a{
    color: #ff598f;
}

.page-item a:hover{
    background-color: #ff598f;
    color: #e0e300;
}
#busca{
    background-color: #fff; 
}

.form-control{
    margin: 2% 0 5% 3%;
    text-align: center;
}

.busca-icon{
    color:#ff598f;
    margin-top: 35px;
}

.catalog-row{
    display: flex;
    justify-content: center;
}

.catalog-row a{
    text-decoration: none;
}
.catalog-row a:hover{
    text-decoration: none;
}

.catalog-card.col h1{
    text-align: center;
    font-size: 25px;
    border: 2px #e0e300 solid;
    border-radius: 20px;
    margin: 0 20px 0 20px;
    color:#ff598f;
}

.catalog-card.col h1:hover{
    text-decoration: none;
    background-color: #ff598f;
    color:#e0e300;

}

.catalog-card img{
    height: 200px;
    width: auto;
    margin: 20px;
    border-radius: 4%;
} 

.catalog-card img:hover{
    opacity: 80%;
}
