/* Paginação */

#pag{
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.page-item a{
    color: #ff598f;
}

.page-item a:hover{
    background-color: #ff598f;
    color: #e0e300;
}

/* Filtros */

#busca{
    display: flex;
    padding: 20px;
    color: #ff598f;
}

#Especie{
    border-right: solid 2px #e0e300;
    margin: 0 auto;
    text-align: start;
}

#Idade{
    border-right: solid 2px #e0e300;
    margin: 0 auto;
    text-align: start; 
}

#Sexo{
    border-right: solid 2px #e0e300;
    margin: 0 auto;
    text-align: start; 
}

#Porte{
    border-right: solid 2px #e0e300;
    margin: 0 auto;
    text-align: start; 
}

.tituloAnimal-inputs{
    text-align: start;
}

.btn-busca button{
    background-color: #ff598f;
    color: #fff;
    font-size: 20px;
    border: #e0e300 solid 2px;
    padding: 15px;
    border-radius: 25px;
    width: 150px;
}

.btn-busca button:hover{
    background-color: #e0e300;
    color:#fff;
    border: solid 2px #ff598f;
}


.btn-busca{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.title-busca{
    margin: 5%;
    text-align: center;
    color: #ff598f;
}
/* Imagem */
#catalog{
    display: flex;
    margin: 6%;
    width: 20%;
}

#catalog h2{
    margin: 5%;
    text-align: center;
    color: #ff598f;
}

#catalog a{
    text-decoration: none;
}

#catalog a:hover{
    text-decoration: none;
    color:#00bfaf;
}