/* Geral */

#container {
    font-family: 'Acme', cursive;
}

#container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/* Navbar */

#navbar {
    background-color: #ff598f;
    color: #fff;
    padding: 10px;
    height: 100px;
    border-bottom: solid 2px #e0e300;
}

#navbar .navbar-logo {
    width: 60px;
    height: auto;
    margin: 20px;
}

#navbar .dropdown {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    margin: auto;
}

#navbar .dropdown .btn {
    color: #e0e300;
    height: 60px;
    width: 90px;
    font-size: 30px;
    border: #e0e300 2px solid;
    border-radius: 20px;
}

#navbar .dropdown .btn:hover {
    background-color: #fff;
}

.dropdown-menu a {
    color:#ff598f;
}

.dropdown-menu a:hover {
    background-color:#e0e300;
}

/* Homepage */

#homepage {
    display: flex;
    background-color:#00bfaf;
}

#homepage img{
    width: 100%;
    height: 100%;
}

#homepage h1{
    font-size: 50px; 
}

.homepage-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.homepage-txt-slog {
    color: #ff598f;
    padding: 20px;
}

.homepage-txt-nome {
    font-size: 45px;
    padding: 15px;
}

.homepage-btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.homepage-btn-item {
    background-color: #ff598f;
    color: #fff;
    font-size: 25px;
    border: #e0e300 solid 2px;
    padding: 15px;
    border-radius: 25px;
}

.homepage-btn-item:hover {
    background-color: #fff;
    color:#e0e300;
}

/* Catálogo da Home Page */

#homepage-catalog{
    border-style: solid;
    border-color:#e0e300;
    border-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color:#fff;
}

#homepage-catalog img{
    max-width: 200px;
    max-height: 150px;
    margin: 25px;
    border-radius: 20px;
    border-style: solid;
    border-color: #e0e300;
    cursor: pointer;
}

#homepage-catalog img:hover{
    opacity: 80%;

}

#homepage-catalog a{
    text-decoration: none;
    text-align: center;
    color: #00bfaf;
    padding: 20px;
    margin-left: 20px;
    font-size: 28px;
}

#homepage-catalog a:hover{
    color:#fff;
    background-color:#ff598f;
    border-radius: 20px;
}

#homepage-catalog-txt {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color:#fff;
    border: #e0e300 solid;
    background-color:#00bfaf;
    opacity: 90%;
    padding: 30px 20px;
}

#homepage-catalog-txt p{
    border: 2px solid #e0e300;
    border-radius: 20px;
    padding: 18px;
    margin: 20px;
}

#homepage-catalog-txt p:hover{
    background-color: #ff598f;
    cursor:pointer;
}

/* Perfil do cliente*/
#profilecontent{
    padding: 15px;
}

/* Footer */

#baseboard {
    position: static;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #ff598f;
    color: #fff;
    height: 150px;
    width: 100vw;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

#baseboard .baseboard-contato {
    color: #fff;
}

#baseboard .baseboard-contato a {
    color: #fff;
    font-size: 30px;
    padding: 7px;
}

#baseboard .baseboard-contato a:hover {
    color: #e0e300;
}

#baseboard .baseboard-list ul {
    padding: 0 0 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-decoration: none;
    list-style: none;
}

.baseboard-list-item {
    list-style: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.baseboard-list-item a {
    color: #fff;
    text-decoration: none;
}

.baseboard-list-item a:hover {
    color: #e0e300;
    text-decoration: none;
}

footer {
    background-color: #ff598f;
    position: static;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}


/* Sobre nós */

#sobre-nos {
    display: flex;
    background-color: #01dddd;
    font-weight: bold;
    border-bottom: solid 2px #e0e300;


}

.sobre-img img{
    width: 650px;
    height: 510px;
    border-radius: 25%;
    padding: 40px;
}


#sobre-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;

}

#sobre-txt .titulo {
    margin: 20px;
    font-size: 40px;
    color: #ff598f;
}

#sobre-txt .descricao {
    padding: 15px;
    font-size: 25px;
    margin: 40px;
}

#sobre-txt .link a{
    font-size: 22px;
    padding: 0;
    margin: 0;
    color:#fff;
    text-decoration: none;

}
#sobre-txt .link a:link {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color:#fff;
    text-decoration: none;

}

#sobre-txt .links a:hover {
    font-size: 27px;
    color:#ff598f;
    text-decoration: none;
}


/* Página do animal */


#animal-perfil .imagem{
    width: 300px;
    padding: 10px;

}


#outros-animais .imagem-sugestao{
    max-width: 200px;
    border-style: none;
    border-radius: 5%
}

#outros-animais .sugestao{
    font-size: 20px;
    text-decoration: none;
    color: #ff598f
}

