/* Geral */
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}

/* Navbar */
#navbar {
    background-color: #ff598f;
    color: #fff;
    padding: 0 10px 0 10px;
    height: 150px;
    width: 100vw;
}

#navbar .navbar-logo{
   width: 90px;
   height: auto;
   float: left;
   margin: 25px;
}

#navbar .dropdown{
    float: right;
}

#navbar .dropdown .btn{
    height: 100px;
    font-size: 30px;
    color: #fff;
    background-color: #fd8a5e;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius:10ex;
}

#navbar .dropdown .btn:hover{
    color: #ff598f;
    background-color: #fff;
    
}

#navbar .dropdown .dropdown-menu {
    font-size: 20px;
    background-color: #fd8a5e;
    border-radius:5%;
}

#navbar .dropdown .dropdown-menu a{
    color: #fff;
}

#navbar .dropdown .dropdown-menu a:hover{
    color: #ff598f;
    background-color: #fff;
}

/* Footer */

#baseboard {
    position:absolute;
    bottom: 0;
    background-color:#ff598f;
    color:#fff;
    height: 150px;
    width:100vw;
    margin:0%;
    text-align: center;
    display:inline-block;

  }

  #baseboard .baseboard-list ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    text-decoration: none;
    list-style: none;
  }
