/* doacao-animal */

#form_doacao {
    display: flex;
}

.tituloItem{
    font-size: 20px;
}

#img_form_doacao img {
    margin: 40px;
    width: 500px;
}

#forms_doacao {
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 100%;
}

#titulo_forms_doacao {
    color: #ff598f;
    font-weight: bolder;
}

