/* Arrecadacao */
#arrecadacao {
    display: flex;
    font-weight: bold;
}

.arrecadacao-img img {
    width: 450px;
    height: 300px;
    margin: 40px;
    border-radius: 10%;
    border-style: dashed;
    border-color: #e0e300;
}

#arrecadacao-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

#arrecadacao-txt h1 {
    margin: 25px;
    font-size: 40px;
    color: #ff598f;
    font-weight: bold;
}

#arrecadacao-txt .descricao {
    padding: 5px;
    font-size: 22px;
    margin: 10px;
    font-weight:lighter;
}

#arrecadacao-txt .infos-arrecadacao {
    font-size: 25px;
    color: #ff598f;
    text-decoration: none;
}