@media(max-width: 750px){
    #container{
        width: 100%;
    }

    #homepage{
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .box{
        font-size: xx-small;

    }

    #profilecontent{
        display: block;
    }


    #listaCadastro{
        width: 100%;
        margin-bottom: 20%;
    }

    .alteraList{
        margin: 20px;
    }

    #arrecadacao{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 12px;
    }

    #busca{
        display: block;
    }

    .busca-icon i{
        color:#fff;
    }

    #contato{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #profilecontent{
        margin: 0 auto;
    }

    #animal-perfil {
        display: flex;
        flex-direction: column;
        background-color: #00bfaf;
    }

    #animal-perfil img {
        display: block;

    }

    .descricao-animal{
        text-align: center;
    }

    .outros-animais{
        flex-direction: column;
    }

}